/* toolbal principal */

.container span{
    color: rgb(27, 26, 26);
    margin-left: 120px;
}
.container mat-toolbar{
    background-color:  rgb(255 255 255);
}

.flex-box{
    display: flex;
}
.flex-box h1{
    margin: 0px;
    width: 3px;
    margin-left: 500px;
    text-align: center;
    line-height: 87px;
    font-size: 17px;
    color: rgb(23, 24, 23);
    cursor: pointer;
}

.flex-box h2{
    margin: 0px;
    width: 3px;
    margin-left: 176px;
    text-align: center;
    line-height: 87px;
    font-size: 17px;
    color: rgb(23, 24, 23);
    cursor: pointer;
}

.flex-box h3{
    margin: 0px;
    width: 3px;
    margin-left: 176px;
    text-align: center;
    line-height: 87px;
    font-size: 17px;
    color: rgb(23, 24, 23);
    cursor: pointer;
}

.flex-box h4{
    margin: 0px;
    width: 3px;
    margin-left: 176px;
    text-align: center;
    line-height: 87px;
    font-size: 17px;
    color: rgb(23, 24, 23);
    cursor: pointer;
}

.flex-box h5{
    margin: 0px;
    width: 3px;
    margin-left: 176px;
    text-align: center;
    line-height: 87px;
    font-size: 17px;
    color: rgb(23, 24, 23);
    cursor: pointer;
}




.Container1{
    background-color: rgb(33, 34, 36);
    align-items: center;
    margin-top: 8%;
    width: 100%;
    height: 72%;
  
}

.Container1 h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.Container1 h3{
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.container2{
    display: flex;
    color: rgb(80 159 183);
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 8%;
}

.parrafo{
    text-align: justify;
    padding-left: 477px;
    font-size: 22px;
}