<mat-toolbar>
    URKU PORTAFOLIO
    <div class="flex-box">
      <h1 [routerLink]="['/Home']">Home</h1>
      <h2 [routerLink]="['/shared']">Ropa</h2>
      <h4 [routerLink]="['/pages']">Page</h4>
      <h5 [routerLink]="['/contact']">Contact Us</h5>
    </div>
  </mat-toolbar>
  
  <div class="Container1">
    <div class="container2">
      <h1>Acerca de Nosotros</h1>
      <h3>conocenos un poco mas y familiarisate con nosotros</h3>
      <h2 class="parrafo">
        Somos un equipo de profesionales en el ambito social de trabajo en toda
        las areas. <br />Nacimos para brindar el apoyo a los clientes que buscan
        la buena calidad y garantia <br />de productos de buen gusto y marca
        reconocida en el ambiete de moda nacional e <br />internacional para
        sastifacer las necesidades que el cliente exige y amerita.<br />
        para apoyar nuestro clientes que exigen cada dia un nuevo estilo en el
        vestir del dia<br />
        a dia. AKS -IMPORT STORES,cuenta con un gran numero de proveedores
        nacionales<br />
        e internacional que aportan de manera exclusiva variedades de moda para
        unmercado <br />exigente garantizando la confianza del todos los cliente
        que adquieren los producto que <br />se distribuye a los consumidores,
        osea todo nuestros clientes, en un mercado que exige <br />la buena
        calidad y el buen estilo del vestir los mejores productos a la moda.
      </h2>
    </div>
  </div>
  