<div class="cotenedor">
  <button
    mat-icon-button
    class="icono"
    aria-label="Example icon-button with a menu"
  ></button>
  <div class="form">
    <mat-chip-list aria-label="Fish selection"  class="componet">
      <mat-chip  class="women" (click)="redirectTo('women')">WOMEN</mat-chip>
      <mat-chip  class="kids"  (click)="redirectTo('kids')">KIDS</mat-chip>
      <mat-chip (click)="redirectTo('men')">MEN</mat-chip>
      <mat-chip (click)="redirectTo('beauty')">BEAUTY</mat-chip>
    </mat-chip-list>
    <input
      type="text"
      class="input"
      placeholder="Search"
      [(ngModel)]="filter"
      name="filter"
    />
    </div>
  <app-shop-item [listProduct]="listProduct" [filter]="filter"></app-shop-item>
</div>
