.cotenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seccion {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-img {
  position: absolute;
  right: 200px;
  width: 63px;
}

.form {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.input {
  width: 26%;
  background: #d5e9e9;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.buscador {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 2%;
}

.card {
  max-width: 420px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px;
}

.img {
  height: 274px;
}

.total {
  display: flex;
  font-size: 8%;
  margin-left: 8%;
}

.price {
  font-family: "EB Garamond", serif;
  color: black;
}
.Myicon {
  width: 0%;
  margin-left: 5%;
}

.add_shopping {
  display: flex;
  justify-content: flex-end;
}

section button {
  margin-left: 3%;
  margin-top: 5%;
  background-color: rgb(185, 113, 113);
  color: black;
}

.shopin {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

.mat-menu-panel {
  min-width: 449px;
  max-width: 286px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(105vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
}

.titulo {
  margin-left: 0%;
  align-items: center;
  font-size: 107%;
  display: flex;
}

.example-button-row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Para 600px */
@media only screen and (max-width: 1300px) and (min-width: 850px) {
  .buscador {
    flex-direction: column;
  }
}

/* Para 480px */
@media only screen and (max-width: 850px) and (min-width: 552px) {
  .cotenedor {
    width: 100%;
  }

  .input {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .titulo {
    font-size: 51%;
  }

  .buscador {
    flex-direction: column;
  }
}

@media only screen and (max-width: 552px) and (min-width: 340px) {
  .cotenedor {
    width: 100%;
  }

  .input {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .buscador {
    flex-direction: column;
  }
}
/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 0px) {
  .cotenedor {
    width: 100%;
  }

  .input {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .img {
    width: 112px;
    height: 110px;
  }

  .buscador {
    flex-direction: column;
  }
}
