.cotenedor {
  width: 100%;
}

.icono {
  width: 9px;
  height: 36px;
  margin-left: 12px;
  margin-top: 9px;
  border: none;
}

.form {
  width: 100%;
}

.input {
  width: 40%;
  height: 29px;
  margin-left: 34%;
  margin-top: 0%;
  border: none;
}

.seccion {
  padding-top: 0%;
  margin-left: 36%;
}

.buscador {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 197px;
  margin-left: 5%;
  margin-top: 22%;
  height: 158px;
  border-radius: 0%;
  cursor: pointer;
}

.foto img {
  width: 232px;
  height: 272px;
  margin-top: -97%;
  margin-left: -17px;
  border: none;
}

section button {
  margin-left: 3%;
  margin-top: 5%;
  background-color: rgb(185, 113, 113);
  color: black;
}

.shopin {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

.mat-menu-panel {
  min-width: 449px;
  max-width: 286px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(105vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
}
