mat-stepper {
    background-color: #efafbc;
    position: absolute;
    width: 488px;
    text-align: end;
    height: 177px;
    left: 991px;
    top: 541px;
  }

  .matStep img {
    width: 99px;
    height: 117px;
    position: absolute;
    left: 1%;
  }