<div class="container">
  <div class="flex-container">
    <div class="logo">
      <a href="">
        <mat-icon class="icon">storefront</mat-icon>
        <h3 class="title">Store</h3>
      </a>
    </div>
    <div class="router">
      <ul>
        <li *ngFor="let home of rutas" class="rutas" [routerLink]="home.ruta">
          <mat-icon (click)="drawer.toggle()" class="icon cart">{{ home?.icon }}</mat-icon>{{ home.name }}
        </li>
      </ul>
    </div>

  </div>
  <div class="mat">
    <div class="div"></div>
    <div class="buton" *ngFor="let header of service.lista">
      <button mat-icon-button>
        <img
          class="imagen"
          src="{{ header.img }}"
          height="100px"
          width="100px"
        />
        <h1 class="title" height="1px" width="1px">{{ header.title }}</h1>
        <h2 class="precio">{{ header.price }}</h2>
      </button>
    </div>
  </div>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1>hola</h1>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
Ropa
    </button>
  </div>

</mat-drawer-container>
