.header {
  width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usuario {
  width: 100%;
  display: flex;
  justify-content: left;
}

.carrito {
  font-size: 42px;
  display: grid;
  justify-content: left;
  flex-direction: row;
}



.fondo {
  width: 19%;
  align-content: center;
}

/* Para 600px */

@media only screen and (max-width: 820px) and (min-width: 501px) {
  .container {
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  .fondo {
    width: 100%;
  }

  .usuario {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 341px) {
  .container {
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  .fondo {
    width: 40%;
  }

  .usuario {
    width: 80%;
  }

  .carrito {
    font-size: 35px;
  }
}

@media only screen and (max-width: 820px) and (min-width: 501px) {
  .container {
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  .fondo {
    width: 20%;
  }

  .usuario {
    width: 80%;
  }

  .carrito {
    font-size: 35px;
  }
}
