.matoba{
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
  }
  .titulo {
    color: rgb(40 34 34);
    position: relative;
    width: 80px;
    height: 11px;
    left: 2%;
    top: -8px;
    font-size: 18px;
  }
  .rutas{
    position: relative;
    color: #1ca6cd;
    width: 65px;
    cursor: pointer;
    height: 8px;
    left: 62%;
    top: -8px;
    font-size: 18px;
  }
.icono {
    position: relative;
    width: 80px;
    height: 11px;
    left: 28%;
    top: -6px;
    font-size: 30px;
    color: rgba(28, 166, 205, 1);
  } 
  .icon {
    color: black;
    display: flex;
    width: 80px;
    height: 11px;
    left: 2693%;
    top: -4px;
    font-size: 28px;
  }