<div class="container">
  <div class="contenido">
    <h1 class="titulo">Conctatanos</h1>
    <div class="div">
      <mat-list>
        <mat-list-item>Telefono 1: (849)-542-9855</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Telefono 2: (829)-854-3398</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Horario: 8:15 - 19:00</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Email: hcr@gmail.com</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
