<span
    class="form"
    [matBadge]="carritoService.Count"
    [matBadgeHidden]="count == 0"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
    matBadgeColor="warn"
    (click)="(showFiller)"
  >
    <img class="carrito" [src]="carrito" (click)="DisplayProduc(sidenav)" />
  </span>

  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav class="modal">
      <h1 class="price">Subtotal</h1>
      <span *ngFor="let store of carritoService.cartProduts">
        <app-cart-item
          [item]="store"
          [quantity]="store.quantity"
        ></app-cart-item>
      </span>
    </mat-sidenav>
  </mat-sidenav-container>
