<div class="cotainer">
  <div class="relleno">
    <h1 class="logo">Log In</h1>
    <!-- <mat-icon class="email">person</mat-icon> -->
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label >Username</mat-label>
        <input matInput placeholder="email" type="text">

      </mat-form-field>
    </form>
    <br />
    <!-- <mat-icon>lock</mat-icon> -->
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label >Password</mat-label>
        <input matInput placeholder="Password"  type='{{hide ? "password":"text"}}' >
        <mat-icon (click)="hide = !hide" matSuffix>{{
          hide ? "visibility_off" : "visibility"}}</mat-icon>
      </mat-form-field>
    </form>
    <br />
    <!-- <mat-checkbox class="check">Show password</mat-checkbox> -->
    <br />
    <button class="butto" (click)="openDialog">sign up with google<img class="imagen" [src]="google" /></button>

  </div>
</div>
