<div class="cotenedor">
  <div>
    <button
      mat-icon-button
      class="icono"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon class="shopin">search</mat-icon>
    </button>
    <div class="form">
      <input class="input" placeholder="Buscar" />
    </div>

    <section class="seccion">
      <div class="example-button-row">
        <button mat-raised-button>Everything</button>
        <button mat-raised-button>Dress</button>
        <button mat-raised-button>Coat</button>
        <button mat-raised-button>Pants</button>
        <button mat-raised-button>Shoes</button>
      </div>
    </section>

    <div class="buscador">
      <mat-card *ngFor="let shop of image" class="card">
        <mat-card-content class="foto">
          <img src="{{ shop.img }}" height="250px" width="250px" />
        </mat-card-content>
        <mat-card-title-group>
          <button mat-icon-button>
            <mat-icon (click)="click(shop)">add_shopping_cart</mat-icon>
          </button>
          <mat-card-title>{{ shop.title }}</mat-card-title>
          <mat-card-subtitle>{{ shop.price }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>
    </div>
  </div>
</div>
