<div class="container">
  <button mat-icon-button>
    <mat-icon (click)="clickd()">search</mat-icon>
  </button>
  <mat-form-field>
    <input placeholder="Buscar" />
  </mat-form-field>
</div>

<div class="buton">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    hola
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="buscador" *ngFor="let shop of imagen">
  <img src="{{ shop.img }}"/>
</div>