/* ngClass */
mat-stepper {
  background-color: #efafbc;
  position: absolute;
  width: 488px;
  text-align: end;
  height: 177px;
  left: 991px;
  top: 541px;
}

mat-card {
  position: absolute;
  border-radius: 11%;
  width: 218px;
  height: 60px;
  left: -22%;
  top: 48%;
}

.mat-step-icon .mat-icon {
  font-size: 0px;
  height: 60px;
  width: 168px;
}

.matStep img {
  width: 127px;
  height: 134px;
  position: absolute;
  left: 61%;
}

.title {
  position: absolute;
  width: 658px;
  height: 365px;
  left: 86px;
  top: 298px;
}
.title h1 {
  color: white;
  position: absolute;
  width: 664px;
  height: 371px;
  left: -4px;
  font-size: 158%;
  top: -10%;
}
.title h2 {
  color: rgba(101, 101, 101, 1);
  position: absolute;
  width: 664px;
  height: 371px;
  left: -4px;
  font-size: 232%;
  top: 0%;
}
.title h4 {
  color: rgb(0, 0, 0);
  position: absolute;
  width: 664px;
  height: 371px;
  left: -4px;
  font-size: 109%;
  top: 26%;
}
.title button {
  position: absolute;
  width: 251px;
  height: 52px;
  left: -8px;
  top: 203px;
  background-color: white;
  border: none;
  border-radius: 0%;
  color: rgba(121, 188, 207, 1);
}
.icon {
  color: black;
  position: relative;
  width: 80px;
  height: 11px;
  left: 2693%;
  top: -4px;
  font-size: 28px;
}

.imagen {
  position: absolute;
  width: 518px;
  height: 388px;
  left: 56%;
  top: 172px;
}

.price {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 5%;
  top: 1px;
}
