<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>storefront</mat-icon>
  </button>
  <h6>Store</h6>
  <ul *ngFor="let home of rutas">
    <span [routerLink]="home.ruta"> {{ home.name }}</span>
  </ul>
  <button mat-icon-button>
    <mat-icon class="icon">local_grocery_store </mat-icon>
  </button>
</mat-toolbar>

<div class="img">
</div>

<div class="title">
  <h1>OUTFIT OF THE DAY</h1>
  <h2>ALL YOUR <br />STYLES ARE HERE</h2>
  <h4>
    Consectetur adipiscing elit, cursus condimentum donec non dictum. Id et
    <br />set ac mauris, adipicing tincidunt amet vel at. Quis labortis id.<br />
    cosectetur adipsicing elit.
  </h4>
  <button>BUY NOW ></button>
</div>

<div class="matStep">
  <mat-stepper *ngFor="let home of imagen">
    <mat-step class="matStep" [ngClass]="home.img"><img src="{{home.img}}"></mat-step>
    <mat-step><img src="{{home.img1}}"></mat-step>
    <mat-step><img src="{{home.img2}}"></mat-step>
  </mat-stepper>
</div>

