.container-princ {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.btn-outline-info {
  position: absolute;
  width: 264px;
  height: 53px;
  left: -48px;
  top: 234px;
}

.mat-step-icon-mat-step-icon-state-edit {
  background-color: #fffffd;
  color: #fff;
}

mat-stepper {
  background-color: #f3e6bd;
}

mat-card {
  background-color: #f3e6bd;
  width: 125px;
  height: 85px;
  margin-left: 0%;
  top: 8%;
}

// .title h1 {
//   color: #ca6060;
//   position: absolute;
//   // width: 664px;
//   // height: 371px;
//   left: -39px;
//   font-size: 163%;
//   top: -10%;
// }

// .title h2 {
//   color: #0f0e0e;
//   position: absolute;
//   // width: 664px;
//   // height: 371px;
//   left: -41px;
//   font-size: 232%;
//   top: 8%;
// }

// .title p {
//   color: rgb(15, 13, 13);
//   position: absolute;
//   width: 664px;
//   height: 371px;
//   left: -44px;
//   font-size: 124%;
//   top: 30%;
// }

@media (max-width: 480px) {
  // .container-princ {
  //   height: auto;
  //   width: 100%;
  //   max-width: 100%;
  //   margin: 0px;
  // }
  //   .title {
  //     position: absolute;
  //     justify-content: center;
  //     width: 100%;
  //     height: auto;
  //     margin-top: 16%;
  //     margin-left: -31%;
  //     padding: 40px;
  //   }

  //  .imagen{
  //   width: 100%;
  //   max-width: 100%;
  //   margin: 0;
  //   padding: 0;
  //  }
  // /********
  .container-princ {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 100%;
  }

  .imagen {
    width: 100%;
    // margin-left: -494px;
    // display: grid;
    // align-content: stretch;
  }
  .title {
    width: 100%;
    font-size: 13px;
    // margin-top: 172%;
    // margin-left: 2%;
  }
  .title p {
    width: 100%;
    font-size: 20px;
    margin-top: 5%;
  }

  mat-stepper {
    // position: relative;
    background-color: #f3e6bd;
    // width: 405px;
    text-align: end;
    // height: 162px;
    // margin-left: 3%;
    // top: 37px;
  }

  mat-card {
    background-color: #f3e6bd;
    // width: 125px;
    // height: 85px;
    // margin-left: 0%;
    // top: 8%;
  }
  // .btn-outline-info {
  //   width: 130%;
  //   margin-left: 0%;
  //   margin-top: 93%;
  // }
  // .social {
  //   position: absolute;
  //   margin-top: 219%;
  //   margin-left: -23%;
  // }
  // .telegram {
  //   position: absolute;
  //   margin-top: 220%;
  //   margin-left: 59%;
  // }
  // .instagram {
  //   position: absolute;
  //   margin-top: 220%;
  //   margin-left: 20%;
  // }

  // mat-stepper {
  //   position: relative;
  //   background-color: #f3e6bd;
  //   width: 405px;
  //   text-align: end;
  //   height: 162px;
  //   margin-left: 3%;
  //   top: 37px;
  // }

  // mat-card {
  //   background-color: #f3e6bd;
  //   width: 125px;
  //   height: 85px;
  //   margin-left: 0%;
  //   top: 8%;
  // }
}

// @media (max-width: 650px) {
//   .container-princ {
//     height: 100vh;
//     width: 100%;
//     max-width: 100%;
//     margin: 0px;
//   }
// }

// @media (max-width: 1700px) {
//   .container-princ {
//     background-position: 50%;
//   }
//   .imagen {
//     width: 467px;
//     margin-left: -494px;
//     display: grid;
//     align-content: stretch;
// }
//   .title {
//     width: 57%;
//     font-size: 13px;
//     margin-top: 172%;
//     margin-left: 2%;
//   }
//   .title h4 {
//     width: 97%;
//     font-size: 20px;
//     margin-top: 5%;
//   }
//   .btn-outline-info {
//     width: 130%;
//     margin-left: 0%;
//     margin-top: 93%;
//   }
//   .social {
//     position: absolute;
//     margin-top: 219%;
//     margin-left: -23%;
//   }
//   .telegram {
//     position: absolute;
//     margin-top: 220%;
//     margin-left: 59%
//   }
//   .instagram {
//     position: absolute;
//     margin-top: 220%;
//     margin-left: 20%;
//   }

//   mat-stepper {
//     position: relative;
//     background-color: #f3e6bd;
//     width: 405px;
//     text-align: end;
//     height: 162px;
//     margin-left: 3%;
//     top: 37px;
//   }

//   mat-card {
//     background-color: #f3e6bd;
//     width: 125px;
//     height: 85px;
//     margin-left: 0%;
//     top: 8%;
//   }
// }

// @media (max-width: 1180px) {
//   .container-princ {
//     width: 82%;
//     display: flex;
//     flex-direction: column;
//     margin-top: 5px;
//     margin-left: 9%;
//     align-items: center;
//   }

//   .imagen {
//     width: 467px;
//     margin-left: -494px;
//     display: grid;
//     align-content: stretch;
// }

//   mat-stepper {
//     position: relative;
//     background-color: #f3e6bd;
//     width: 405px;
//     height: 162px;
//     margin-left: -7%;
//     top: 3px;
//   }

// }

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* From uiverse.io by @adamgiebl */
.buttonComprar {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

.buttonComprar span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

.buttonComprar span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.buttonComprar:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.buttonComprar:hover {
  color: white;
}

.buttonComprar:active span::before {
  background: #2751cd;
}

.containerRedes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.matStep {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .title {
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
  }

  mat-stepper {
    width: 100%;
    background-color: #f3e6bd;
  }

  .containerButton {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .containerRedes {
    margin-top: 3%;
    margin-bottom: 2%;
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
}
