.container-princ {
  width: 82%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 9%;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 38%;
  margin-top: 4%;
}

.title {
  position: absolute;
  justify-content: center;
  width: 670px;
  height: 369px;
  margin-top: 16%;
  margin-left: -31%;
}

.button {
  position: absolute;
  width: 264px;
  height: 53px;
  left: -48px;
  top: 234px;
  background-color: white;
  border: none;
  border-radius: -7%;
  color: #000000;
}


.social{
  position: absolute;
  margin-top: 50%;
  margin-left: -1%;
}

.instagram{
  position: absolute;
  margin-top: 50%;
  margin-left: 8%;
}

.telegram{
  position: absolute;
  margin-top: 50%;
  margin-left: 17%;
}

.mat-step-icon-mat-step-icon-state-edit {
  background-color: #fffffd;
  color: #fff;
}

mat-stepper {
<<<<<<< HEAD
  background-color: #f3e6bd;
=======
  background-color: #e9dec2;
>>>>>>> 66d5cbdd14d35384c5b0f3296366da09da9bf124
  position: absolute;
  width: 405px;
  text-align: end;
  height: 162px;
  left: 1099px;
  top: 683px;
}

mat-card {
  position: absolute;
  border-radius: 3%;
  width: 234px;
  height: 85px;
  left: -22%;
  top: 48%;
}

.title h1 {
<<<<<<< HEAD
  color: #000000;
=======
  color: #ca6060;
>>>>>>> 66d5cbdd14d35384c5b0f3296366da09da9bf124
  position: absolute;
  width: 664px;
  height: 371px;
  left: -39px;
  font-size: 163%;
  top: -10%;
}

.title h2 {
<<<<<<< HEAD
  color: #000000;
=======
  color: #0f0e0e;
>>>>>>> 66d5cbdd14d35384c5b0f3296366da09da9bf124
  position: absolute;
  width: 664px;
  height: 371px;
  left: -41px;
  font-size: 232%;
  top: 8%;
}
.title h4 {
<<<<<<< HEAD
  color: rgb(26, 21, 21);
=======
  color: rgb(15, 13, 13);
>>>>>>> 66d5cbdd14d35384c5b0f3296366da09da9bf124
  position: absolute;
  width: 664px;
  height: 371px;
  left: -44px;
  font-size: 124%;
  top: 30%;
}
