.container-princ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerOne {
  width: 50%;
}

.containerTwo {
  width: 50%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.imagen {
  width: 80%;
  margin: 0;
  padding: 0;
}

.icon{
  font-size: 80px;
  position: relative;
  margin-top: 33%;
  margin-left: 2%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.titulo {
  font-size: 30px;
  color: rgb(131, 28, 28);
}

.tituloTwo {
  font-size: 25px;
  color: rgb(29, 27, 27);
}

.texto {
  font-size: 20px;
  color: rgb(29, 27, 27);
}
.mat-step-icon-mat-step-icon-state-edit {
  background-color: #fffffd;
  color: #fff;
  padding: 0;
  margin: 0;
}

mat-stepper {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

mat-card {
  background-color: #ffffff;
  width: 135px;
  height: 85px;
  padding: 0;
  margin: 0;
}

.matStep {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* From uiverse.io by @adamgiebl */

.buttonComprar {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: #adaad9cf;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

.buttonComprar span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

.buttonComprar span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.buttonComprar:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.buttonComprar:hover {
  color: white;
}

.buttonComprar:active span::before {
  background: #2751cd;
}

.containerRedes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Para 600px */

@media only screen and (max-width: 820px) and (min-width: 501px) {
  .title {
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 6%;
  }

}

@media screen and (max-width: 117px){
  .container-princ {
    width: 82%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 9%;
    align-items: center;
  }

  .title {
    position: absolute;
    justify-content: center;
    width: 670px;
    height: 369px;
    margin-top: 16%;
    margin-left: -31%;
  }
  
  .button {
    position: absolute;
    width: 264px;
    height: 53px;
    left: -48px;
    top: 234px;
    background-color: white;
    border: none;
    border-radius: -7%;
    color: #000000;
  }
  
  .social {
    position: absolute;
    margin-top: 50%;
    margin-left: -1%;
  }
  
  .instagram {
    position: absolute;
    margin-top: 50%;
    margin-left: 8%;
  }
  
  .telegram {
    position: absolute;
    margin-top: 50%;
    margin-left: 17%;
  }

  mat-stepper {
    background-color: #f3e6bd;
    position: absolute;
    width: 405px;
    text-align: end;
    height: 162px;
    left: 60%;
    top: 702px;
  }
  
  mat-card {
    position: absolute;
    border-radius: 3%;
    width: 234px;
    height: 85px;
    left: -22%;
    top: 48%;
  }

}

@media screen and (max-width: 915px) and (min-width:412px) {
  .container{
    width: 100%;
    height: 44%;
    margin-top: 32%;
    font-size: 15%;
  }

  .imagen {
    width: 70%;
  }

  .container-princ {
    flex-direction: column;
  }

  .containerOne {
    width: 100%;
    margin-bottom: 3%;
  }

  .containerTwo {
    width: 100%;
    margin-top: 3%;
  }

  .titulo {
    font-size: 19px;
    color: rgb(131, 28, 28);
  }

  .tituloTwo {
    font-size: 19px;
    color: rgb(29, 27, 27);
  }

  .texto {
    font-size: 15px;
    color: rgb(29, 27, 27);
  }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .title {
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 6%;
  }

  mat-stepper {
    width: 100%;
    background-color: #f3e6bd;
  }

  .containerButton {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .containerRedes {
    margin-top: 3%;
    margin-bottom: 2%;
  }

  .imagen {
    width: 100%;
  }

  .container-princ {
    flex-direction: column;
  }
  .containerOne {
    width: 100%;
    margin-bottom: 3%;
  }

  .containerTwo {
    width: 100%;
    margin-top: 3%;
  }

  .titulo {
    font-size: 19px;
    color: rgb(131, 28, 28);
  }

  .tituloTwo {
    font-size: 19px;
    color: rgb(29, 27, 27);
  }

  .texto {
    font-size: 15px;
    color: rgb(29, 27, 27);
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
  mat-stepper {
    width: 100%;
    background-color: #f3e6bd;
  }
  .container-princ {
    flex-direction: column;
  }

  .containerOne {
    width: 100%;
    margin-bottom: 3%;
  }

  .containerTwo {
    width: 100%;
    margin-top: 3%;
  }

  .titulo {
    font-size: 19px;
    color: rgb(131, 28, 28);
  }

  .tituloTwo {
    font-size: 19px;
    color: rgb(29, 27, 27);
  }

  .texto {
    font-size: 15px;
    color: rgb(29, 27, 27);
  }
}
