.container-princ {
  width: 82%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 9%;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 38%;
  margin-top: 4%;
}

.title {
  position: absolute;
  justify-content: center;
  width: 670px;
  height: 369px;
  margin-top: 16%;
  margin-left: -31%;
}

.button {
  position: absolute;
  width: 264px;
  height: 53px;
  left: -48px;
  top: 234px;
  background-color: white;
  border: none;
  border-radius: -7%;
  color: #000000;
}

.social {
  position: absolute;
  margin-top: 50%;
  margin-left: -1%;
}

.instagram {
  position: absolute;
  margin-top: 50%;
  margin-left: 8%;
}

.telegram {
  position: absolute;
  margin-top: 50%;
  margin-left: 17%;
}

.mat-step-icon-mat-step-icon-state-edit {
  background-color: #fffffd;
  color: #fff;
}

mat-stepper {
  background-color: #f3e6bd;
  position: absolute;
  width: 405px;
  text-align: end;
  height: 162px;
  left: 1099px;
  top: 702px;
}

mat-card {
  position: absolute;
  border-radius: 3%;
  width: 234px;
  height: 85px;
  left: -22%;
  top: 48%;
}

.title h1 {
  color: #ca6060;
  position: absolute;
  width: 664px;
  height: 371px;
  left: -39px;
  font-size: 163%;
  top: -10%;
}

.title h2 {
  color: #0f0e0e;
  position: absolute;
  width: 664px;
  height: 371px;
  left: -41px;
  font-size: 232%;
  top: 8%;
}
.title h4 {
  color: rgb(15, 13, 13);
  position: absolute;
  width: 664px;
  height: 371px;
  left: -44px;
  font-size: 124%;
  top: 30%;
}

@media (max-width: 2238px) {
  .container-princ {
    max-width: 2000px;
  }
}

@media (max-width: 375px) {
  .imagen {
    width: 117%;
    height: 44%;
    margin-top: 32%;
    margin-left: -51%;
  }

  .title {
    margin-top: 170%;
    margin-left: 127%;
  }

  .title h4 {
    width: 49%;
    font-size: 17px;
    margin-top: 5%;
  }

  mat-stepper {
    margin-top: -69%;
    margin-left: -290%;
  }

  mat-card {
    margin-left: 40%;
  }

  .button {
    width: 47%;
    margin-left: -1%;
    margin-top: 11%;
  }

  .social{
    margin-top: 58%;
    background-color: #000000;
  }

  .telegram{
    margin-top: 58%;
    background-color: #000000;
    margin-left: 12%;

  }

  .instagram{
    margin-top: 58%;
    margin-left: 26%;
    background-color: #000000;
  }
}
