<div class="container">
  <div class="container1">
    <div class="div">
      <h1 class="title">register</h1>
    </div>
    <form [formGroup]="register">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input
          [formControl]="userName"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Last name</label
        >
        <input
          [formControl]="lastName"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          [(ngModel)]="Datos.password"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Correo electronico</label
        >
        <input
          [formControl]="email"
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="hcamilo@exple.com"
          [(ngModel)]="Datos.email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Password</label
        >
        <input
          [formControl]="password"
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          [(ngModel)]="Datos.password"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >password repeat</label
        >
        <input
          [formControl]="ConfirmPassword"
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
        />
      </div>
      <button
        (click)="registrar()"
        type="button"
        class="btn btn-outline-primary"
        id="startSection"
      >
        submit
      </button>
    </form>
  </div>
</div>
