.container1{
    position: absolute;
    background-color: rgb(246, 250, 250);
    width: 48%;
    height: 66%;
    margin-top: 5%;
    margin-left: 16%;
}



.title{
    margin-left: 23%;
    font-size: 38px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 40%;
    margin-top: 5%;
}

.form-label {
    margin-left: 34%;
    margin-top: 3%;
  }
  

.form-control {
    width: 282px;
    height: 44px;
    margin-left: 33%;
}

.btn-outline-primary {
    width: 281px;
    height: 41px;
    margin-top: 0%;
    margin-left: 33%;
  }