.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado {
  display: flex;
  background-color: rgb(209 209 209);
  width: 148%;
  margin-top: 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 30px;
  margin-top: 30%;
  margin-top: 2%;
  font-family: math;
}

.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  justify-content: center;
  width: 28%;
  font-family: math;
}

.titu{
  font-family: math;
  color: white;
}

.titles{
  color: white;
  font-size: 142%;
}