<div class="cotainer">
  <div class="relleno">
    <div class="div">
      <h1 class="title">Log In</h1>
    </div>
    <form class="example-form">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"

        />
      </div>
    </form>
    <br />
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input
        type="{{ hide ? 'password' : 'text' }}"
        class="form-control"
        id="exampleFormControlInput1"

      />
    </div>
    <br />
    <button (click)="googleToken()" type="button" class="btn btn-outline-primary" id="startSection">sign up with google</button>
  </div> 

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked">
        Show password
      </label>
    </div>
    <button
      (click)="googleToken()"
      type="button"
      class="btn btn-outline-primary"
    >
      Sign up with google
    </button>
  </div>
