.container2{
    position:absolute;
    width: 30%;
    height: 57%;
    background-color: rgb(241, 250, 250);
    margin-top: 4%;
    margin-left: 27%;

}
<<<<<<< HEAD

.title {
  margin-left: 23%;
  font-size: 38px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 40%;
  margin-top: 5%;
=======
.title{
    margin-left: 40%;
    margin-top: 6%;
>>>>>>> f81789942c0bcabb06d0c3b4d9299dfc5e612ebb
}

.form-label{
    width: 30%;
    margin-left: 20%;
    margin-top: 4%;
}

.form-control{
    width: 60%;
    margin-left: 20%;

}

.form-check-input{
    margin-left: 15%;
}

.form-check-label{
    margin-left: 2%;
}

.btn-outline-primary{
    margin-left: 19%;
    margin-top: 5%;
    width: 60%;
}