.container {
  width: 100%;
  flex-direction: column;
  justify-content: end;
}
.container2 {
  width: 36%;
  display: inline-table;
  height: 32%;
  margin-left: 34%;
  margin-top: 9%;
  background-color: rgba(232, 245, 245, 0.521);
  justify-content: center;
}


.title {
  font-size: 38px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 40%;
  margin-top: 5%;
}

.form-label {
  width: 35%;
  margin-left: 28%;
  margin-top: 6%;
}

.form-control {
  width: 48%;
  margin-left: 27%;
}

.form-check-input {
  margin-left: 15%;
}

.form-check-label {
  margin-left: 2%;
}

.btn-outline-primary {
  margin-left: 29%;
  margin-top: 5%;
  width: 44%;
}

/* Para 600px */
@media only screen and (max-width: 820px) and (min-width: 501px) {
.container2 {
    width: 89%;
    background-color: rgb(251, 251, 251);
    margin-top: 43%;
    margin-left: 6%;
  }

  .title {
    font-size: 38px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 33%;
    margin-top: 5%;
  }

  .btn-outline-primary {
    margin-left: 21%;
    margin-top: 5%;
    width: 65%;
  }

  .form-control {
    width: 73%;
    margin-left: 14%;
  }
  .form-label {
    width: 35%;
    margin-left: 15%;
    margin-top: 6%;

}
}

@media screen and (max-width: 117px) {
    .container2 {
        width: 89%;
        background-color: rgb(251, 251, 251);
        margin-top: 43%;
        margin-left: 6%;
      }
    
      .title {
        font-size: 38px;
        font-family: Georgia, "Times New Roman", Times, serif;
        margin-left: 33%;
        margin-top: 5%;
      }
    
      .btn-outline-primary {
        margin-left: 21%;
        margin-top: 5%;
        width: 65%;
      }
    
      .form-control {
        width: 73%;
        margin-left: 14%;
      }
      .form-label {
        width: 35%;
        margin-left: 15%;
        margin-top: 6%;
    
      }
}

@media screen and (max-width: 915px) and (min-width: 412px) {
    .container2 {
        width: 89%;
        background-color: rgb(251, 251, 251);
        margin-top: 43%;
        margin-left: 6%;
      }
    
      .title {
        font-size: 38px;
        font-family: Georgia, "Times New Roman", Times, serif;
        margin-left: 41%;
        margin-top: 5%;
      }
    
      .btn-outline-primary {
        margin-left: 31%;
        margin-top: 1%;
        width: 41%;
      }
    
      .form-control {
        width: 73%;
        margin-left: 14%;
      }
      .form-label {
        width: 35%;
        margin-left: 15%;
        margin-top: 6%;
    
      }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .container2 {
    width: 89%;
    background-color: rgb(251, 251, 251);
    margin-top: 43%;
    margin-left: 6%;
  }

  .title {
    font-size: 38px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 33%;
    margin-top: 5%;
  }

  .btn-outline-primary {
    margin-left: 21%;
    margin-top: 5%;
    width: 65%;
  }

  .form-control {
    width: 73%;
    margin-left: 14%;
  }
  .form-label {
    width: 35%;
    margin-left: 15%;
    margin-top: 6%;

  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
    .container2 {
        width: 89%;
        background-color: rgb(251, 251, 251);
        margin-top: 43%;
        margin-left: 6%;
      }
    
      .title {
        font-size: 38px;
        font-family: Georgia, "Times New Roman", Times, serif;
        margin-left: 33%;
        margin-top: 5%;
      }
    
      .btn-outline-primary {
        margin-left: 21%;
        margin-top: 5%;
        width: 65%;
      }
    
      .form-control {
        width: 73%;
        margin-left: 14%;
      }
      .form-label {
        width: 35%;
        margin-left: 15%;
        margin-top: 6%;
    
      }
}
