/* contenido de Ropa */

.Portafolio {
  width: 1087px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Portafolio .img1 {
  position: absolute;
  width: 404px;
  height: 500px;
  margin-top: 69%;
  margin-left: 945px;
}

.Portafolio .img2 {
  position: absolute;
  width: 405px;
  height: 504px;
  margin-top: 99%;
  margin-left: 945px;
}

.Portafolio .img3 {
  position: absolute;
  width: 326px;
  height: 571px;
  margin-top: 7%;
  margin-left: -94px;
}

.Portafolio .img4 {
  position: absolute;
  width: 417px;
  height: 478px;
  margin-top: 158%;
  margin-left: 946px;
}

.Portafolio .img5 {
  position: absolute;
  width: 449px;
  height: 489px;
  margin-top: 39%;
  margin-left: 387px;
}

.Portafolio .img6 {
  position: absolute;
  width: 437px;
  height: 469px;
  margin-top: 11%;
  margin-left: 409px;
}

.Portafolio .img7 {
  position: absolute;
  width: 474px;
  height: 550px;
  margin-top: 68%;
  margin-left: 402px;
}

.Portafolio .img8 {
  position: absolute;
  width: 473px;
  height: 493px;
  margin-top: 101%;
  margin-left: 400px;
}

.Portafolio .img9 {
  position: absolute;
  width: 405px;
  height: 493px;
  margin-top: 40%;
  margin-left: 945px;
}

.Portafolio .img10 {
  position: absolute;
  width: 398px;
  height: 484px;
  margin-top: 10%;
  margin-left: 944px;
}

.Portafolio .img11 {
  position: absolute;
  width: 408px;
  height: 489px;
  margin-top: 129%;
  margin-left: 945px;
}

.Portafolio .img12 {
  position: absolute;
  width: 363px;
  height: 489px;
  margin-top: 103%;
  margin-left: -91px;
}

.Portafolio .img13 {
  position: absolute;
  width: 387px;
  height: 489px;
  margin-top: 40%;
  margin-left: -97px;
}

.Portafolio .img14 {
  position: absolute;
  width: 387px;
  height: 489px;
  margin-top: 71%;
  margin-left: -109px;
}

/* contenido sidenav */

mat-toolba {
  background: darkcyan;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: rgb(31, 140, 243);
  color: aliceblue;
  border-radius: -9px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.containe {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: rgb(180, 27, 27);
}

/*contenido de divider*/

.logo {
  margin-top: 2px;
  font-size: 0.7rem;
  color: antiquewhite;
}

.menu-button {
  margin-left: -4%;
  display: flex;
}

.menuu-button {
  margin-left: 8%;
  display: flex;
}

.contect {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgb(247, 242, 235);
}

mat-sidenav img {
  width: 150px;
}

mat-nav-list {
  margin-left: 32px;
}
